---
version: "3"

x-common: &common
  image: "${IMAGE_NAME}:${IMAGE_VER}"
  volumes:
    - "${PWD}:/source"

services:
  pynautobot-dev:
    <<: *common
    build:
      context: "${PWD}"
      dockerfile: "development/Dockerfile"
      args:
        PYTHON_VER: "${PYTHON_VER}"
  pynautobot-dev-tests:
    <<: *common
    depends_on:
      nautobot:
        condition: "service_healthy"
  nautobot:
    image: "ghcr.io/nautobot/nautobot:${NAUTOBOT_VER:-1.6}-py${PYTHON_VER:-3.8}"
    command: "nautobot-server runserver 0.0.0.0:8000 --insecure"
    ports:
      - "8000:8000"
    depends_on:
      - "postgres"
      - "redis"
    env_file:
      - "./dev.env"
    tty: true
    healthcheck:
      interval: "30s"
      timeout: "10s"
      start_period: "2m"
      retries: 4
      test:
        - "CMD-SHELL"
        - "curl --fail http://localhost:8000/health/ || exit 1"
  postgres:
    image: "postgres:13"
    env_file:
      - "./dev.env"
  redis:
    image: "redis:6-alpine"
    command:
      - "sh"
      - "-c"  # this is to evaluate the $REDIS_PASSWORD from the env
      - "redis-server --appendonly yes --requirepass $$REDIS_PASSWORD"  ## $$ because of docker-compose
    env_file: "./dev.env"
