---
name: "CI"
on: # yamllint disable
  workflow_call:
    inputs:
      runs-on:
        description: "The OS to run the job on"
        required: false
        default: "ubuntu-24.04"
        type: string
      all-tests:
        description: "Test all versions of Nautobot and Python"
        required: false
        default: false
        type: boolean

jobs:
  changelog:
    if: >
      contains(fromJson('["develop","ltm-1.6","next","next-3.0"]'), github.base_ref) &&
      (github.head_ref != 'main') && (!startsWith(github.head_ref, 'release')) &&
      github.event_name != 'workflow_dispatch'
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: "0"
      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-version: "1.8.5"
      - name: "Check for changelog entry"
        run: |
          git fetch --no-tags origin +refs/heads/${{ github.base_ref }}:refs/remotes/origin/${{ github.base_ref }}
          poetry run towncrier check --compare-with origin/${{ github.base_ref }}
  tests_partial:
    # Only run the tests for a subset of versions of Nautobot and Python
    if: ${{ inputs.all-tests == false }}
    uses: ./.github/workflows/tests.yml
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.12"
        nautobot-version:
          - "3.0"
    with:
      runs-on: "${{ inputs.runs-on }}"
      python-version: "${{ matrix.python-version }}"
      nautobot-version: "${{ matrix.nautobot-version }}"
  tests_full:
    # Run the tests for all supported versions of Nautobot and Python
    if: ${{ inputs.all-tests == true }}
    uses: ./.github/workflows/tests.yml
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        nautobot-version:
          - "2.4"
          - "stable"
          - "3.0"
    with:
      runs-on: "${{ inputs.runs-on }}"
      python-version: "${{ matrix.python-version }}"
      nautobot-version: "${{ matrix.nautobot-version }}"
