---
name: "Tests"
on: # yamllint disable
  workflow_call:
    inputs:
      runs-on:
        description: "The OS to run the job on"
        required: false
        default: "ubuntu-latest"
        type: string
      python-version:
        description: "The Python version to use"
        required: true
        type: string
      nautobot-version:
        description: "The Nautobot version to use"
        required: true
        type: string

jobs:
  tests:
    runs-on: "${{ inputs.runs-on }}"
    env:
      INVOKE_PYNAUTOBOT_PYTHON_VER: "${{ inputs.python-version }}"
      INVOKE_PYNAUTOBOT_NAUTOBOT_VER: "${{ inputs.nautobot-version }}"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          # This is not the version of Python that we use for testing, just poetry
          python-version: "3.12"
      - name: "Set up Docker Buildx"
        id: "buildx"
        uses: "docker/setup-buildx-action@v3"
      - name: "Tests"
        run: "poetry run invoke tests"
