---
name: "Release"
on: # yamllint disable
  release:
    types: [published]

jobs:
  build:
    name: "Build package with poetry"
    runs-on: "ubuntu-latest"
    if: "startsWith(github.ref, 'refs/tags/v')"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          python-version: "3.12"
      - name: "Run Poetry Build"
        run: "poetry build"
      - name: "Check that the release tag matches the version in pyproject.toml"
        run: |
          if [ "${{ github.ref_name }}" != "v$(poetry version -s)" ]; then exit 1; fi
      - uses: "actions/upload-artifact@v4"
        with:
          name: "distfiles"
          path: "dist/"
          if-no-files-found: "error"
  publish_pypi:
    name: "Push Package to PyPI"
    runs-on: "ubuntu-latest"
    if: "startsWith(github.ref, 'refs/tags/v')"
    needs: "build"
    environment: "pypi"
    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: "write"
    steps:
      - name: "Retrieve built package from cache"
        uses: "actions/download-artifact@v4"
        with:
          name: "distfiles"
          path: "dist/"
      - name: "Publish package distributions to PyPI"
        uses: "pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e"  # v1.13.0
